@import "tailwindcss";

/* src/index.css */
html, body {
  min-height: 100%; /* Make sure the body takes full height */
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}